body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}
hr {
    width: 5%;
    border-width: 7px;
    border-style: none;
    border-top-style:dotted;
    border-color: grey;
    margin: 100px auto;
  }

p{
  line-height: 2;
}
.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: : 100px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.intro{
  width: 30%;
  margin: auto;
}

.bottom-cloud {
  position: relative;
  top: 300px;
}
.bottom-mountain{
  position: relative;
  bottom: 300px;
}

.contact-message{
  width: 40%
  margin: 40px auto 60px;
}
a{
  color: #11999e;
  font-family: 'Quicksand', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;
}
.copyright{
  color: #eaf6f6;
  font-size:0.75rem;
}
div {
  background-color: #e4f9f5;
}

.python-calculator-img{
  width: 25%;
  float: left;
  margin-right: 10px;

}

.python-table-tennis-game-img{
  width:25%;
  float: left;
  margin-right: 10px;
}

.JavaScript-Future-Investment-Fund-img{
  width: 25%;
  float: left;
  margin-right: 10px;
}

.Tableau-Heart-Disease{
  width: 25%;
  float: left;
  margin-right: 10px;
}

.COVID-img{
  width: 25%;
  float: left;
  margin-right: 10px;
}

.process-img{
  width: 25%;
  float: left;
  margin-right: 10px;
}

.top-margin-projects{
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
}
.projects-paragraph{
  padding-top: 100px;
}
.contact-me{
  padding-bottom: 50px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3cb;
  background-image: -webkit-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30E3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30E3cb, #2bc4ad);
  text-decoration: none;
}
